@import '~antd/dist/antd.css';

html {
    font-size: 50px;
}
#mobile_header {
    border-bottom: 1px solid #aaa!important;
    display: flex;
    flex: 1;
}
#mobile_heade header {
}
#mobile_header header img {
    width: 40px;
    height:40px;
}
#mobile_header header span {
    font-size: 20px;
    padding-left: 10px;
    color: #1890ff;
    vertical-align: top;
}
.footer {
    text-align: center;
}
